@using System.Security.Claims
@using System.Collections
@using CW.Controllers
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CW.ViewModels.LoginModel
@*@User.IsInRole("Driver-Intern")*@

<div class="col-md-12 ">
    <div class=" col-md-12 d-flex flex-column " >
        @if (@User.Identity.IsAuthenticated == false)
        {
            @await Html.PartialAsync("../Account/Login")
        }
        @if (@User.Identity.IsAuthenticated == true && (@User.IsInRole("Driver-Intern") || @User.IsInRole("Driver") == true))
        {
            @Html.ActionLink("Get schedule", "GetSheduleForWorker", "Schedules", new { email = @User.Identity.Name }, new { @class = "col-md-6 btn btn-primary" })
        }
        @if (@User.Identity.IsAuthenticated == true && (@User.IsInRole("Cashier-Intern") || @User.IsInRole("Cashier") == true))
        {
            @Html.ActionLink("Search route", "Search", "Routes", new { }, new { @class = "col-md-6 btn btn-primary" })
        }
        @if (@User.Identity.IsAuthenticated == true && (@User.IsInRole("Admin")))
        {
            <div class="justify-content-md-center">
                <div class="col-md-8 ">
                    @Html.ActionLink("Create route", "Create", "Routes", new { }, new { @class = "col-md-6 btn btn-primary" })
                </div>
                <div class="col-md-8 ">
                    @Html.ActionLink("All routes", "Index", "Routes", new { }, new { @class = "col-md-6 btn btn-primary" })
                </div>
                <div class="col-md-8 ">
                    @Html.ActionLink("Search route", "Search", "Routes", new { }, new { @class = "col-md-6 btn btn-primary" })
                </div>
                <div class="col-md-8 ">
                    @Html.ActionLink("All schedules", "Index", "Schedules", new { }, new { @class = "col-md-6 btn btn-primary" })
                </div>

            </div>

           
        }
    </div>
</div>


