@using System.Security.Claims
@using System.Collections
@using CW.Controllers
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CW.ViewModels.LoginModel

<div class="col-md-12 ">
    <div class=" col-md-12 d-flex flex-column ">
        @if (@User.Identity.IsAuthenticated == false)
        {
            @await Html.PartialAsync("../Account/Login")
        }
        @if (@User.Identity.IsAuthenticated == true && (@User.IsInRole("Driver-Intern") || @User.IsInRole("Driver") == true))
        {
            <div class="text-center col-md-12">
                @Html.ActionLink("Schedules", "GetSheduleForWorker", "Schedules", new {email = @User.Identity.Name}, new {@class = "col-md-6 btn btn-primary"})
            </div>
        }
        @if (@User.Identity.IsAuthenticated == true && (@User.IsInRole("Cashier-Intern") || @User.IsInRole("Cashier") == true))
        {
            <div class="text-center col-md-12">
                @Html.ActionLink("Search route", "Search", "Routes", new {}, new {@class = "col-md-6 btn btn-primary"})
            </div>
        }
        @if (@User.Identity.IsAuthenticated == true && (@User.IsInRole("Admin")))
        {
            <div class="text-center">
                @* <div class="col-md-12 m-1 p-1"> *@
                @*     @Html.ActionLink("Add route", "Create", "Routes", new {}, new {@class = "col-md-6 btn btn-primary"}) *@
                @* </div> *@
                <div class="col-md-12 m-1 p-1">
                    @Html.ActionLink("Routes", "Index", "Routes", new {}, new {@class = "col-md-6 btn btn-primary"})
                </div>
                @* <div class="col-md-8 m-1 p-1"> *@
                @*     @Html.ActionLink("Search route", "Search", "Routes", new { }, new { @class = "col-md-6 btn btn-primary" }) *@
                @* </div> *@
                <div class="col-md-12 m-1 p-1">
                    @Html.ActionLink("Schedules", "Index", "Schedules", new {}, new {@class = "col-md-6 btn btn-primary"})
                </div>
                <div class="col-md-12 m-1 p-1">
                    @Html.ActionLink("Workers", "Index", "Workers", new {}, new {@class = "col-md-6 btn btn-primary"})
                </div>
                @* <div class="col-md-12 m-1 p-1"> *@
                @*     @Html.ActionLink("Add worker", "Create", "Workers", new {}, new {@class = "col-md-6 btn btn-primary"}) *@
                @* </div> *@
                <div class="col-md-12 m-1 p-1">
                    @Html.ActionLink("Transports", "Index", "Transports", new {}, new {@class = "col-md-6 btn btn-primary"})
                </div>
                @* <div class="col-md-12 m-1 p-1"> *@
                @*     @Html.ActionLink("Add transport", "Create", "Transports", new {}, new {@class = "col-md-6 btn btn-primary"}) *@
                @* </div> *@
                <div class="col-md-12 m-1 p-1">
                    @Html.ActionLink("Purchases", "Index", "Purchases", new {}, new {@class = "col-md-6 btn btn-primary"})
                </div>
            </div>
        }
    </div>
</div>


