@model CW.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeInTravel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeInTravel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route.RouteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.RouteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route.NumberOfRoute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.NumberOfRoute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transport.TransportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transport.TransportName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transport.SeatCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transport.SeatCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.WorkerFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Worker.WorkerFullName)
        </dd>
        @if (@User.Identity.IsAuthenticated == true && (@User.IsInRole("Admin")))
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Worker.Email)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Worker.Email)
            </dd>
        }


    </dl>
</div>
<div>
    @if (@User.Identity.IsAuthenticated == true && (@User.IsInRole("Admin")))
    {
        <a asp-action="Edit" asp-route-id="@Model.ScheduleId">Edit</a> 
    }
    

    <a asp-action="Index">Back to List</a>
</div>
