@model IEnumerable<CW.Models.Schedule>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">List of schedules</h1>

<p>
    <a asp-action="Create">Add new</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeInTravel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route.RouteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transport)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeInTravel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.RouteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.RouteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transport.TransportName)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.ScheduleId">Details</a>|
                @if (@User.Identity.IsAuthenticated == true && (@User.IsInRole("Admin")))
                {
                    <a asp-action="Delete" asp-route-id="@item.ScheduleId">Delete</a>
                }|

                @if (@User.Identity.IsAuthenticated == true && (@User.IsInRole("Admin")))
                {

                    <a asp-action="Edit" asp-route-id="@item.ScheduleId">Edit</a>
                }|

                <a asp-controller="Purchases" asp-action="BuyTicket" asp-route-id="@item.ScheduleId">Buy</a>
            </td>
            @*<td>
                <a asp-controller="Purchases" asp-action="BuyTicket" asp-route-id="@item.ScheduleId">Buy</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
