@model IEnumerable<CW.Models.Transport>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusType.TypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
